logs/*
log/*
run/*
*.tmproj
*~
*.bak
*.orig
*.rej
.#*
*.swp
.buildpath
lac08.log
php.log
.DS_Store
nbproject
debian/files
debian/php-htmlawed.debhelper.log
debian/php-htmlawed.substvars
debian/php-htmlawed/
